@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: vazirregular, -apple-system, sans-serif;
  direction: rtl;
  color: #27272a;
}

@font-face {
  font-family: vazirblack;
  src: url("/font/Vazir-Black.ttf");
  font-display: block;
}

@font-face {
  font-family: vazirbold;
  src: url("/font/Vazir-Bold.ttf");
  font-display: block;
}

@font-face {
  font-family: vazirmedium;
  src: url("/font/Vazir-Medium.ttf");
  font-display: block;
}

@font-face {
  font-family: vazirregular;
  src: url("/font/Vazir-Regular.ttf");
  font-display: block;
}

.searchbox::-webkit-search-cancel-button {
  display: none;
}
#productBrif {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgb(97, 97, 97) rgb(226, 225, 225);
}
/* برای مرورگرهای Firefox */
.catbox {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgba(177, 177, 177, 0.5) rgba(226, 225, 225, 0.3); /* رنگ‌ها با opacity */
}

/* برای مرورگرهای Chrome, Safari, Edge */
.catbox::-webkit-scrollbar {
  width: 1px; /* عرض اسکرول بار */
}

.catbox::-webkit-scrollbar-track {
  background: rgba(226, 225, 225, 0.3); /* رنگ track با opacity */
}

.catbox::-webkit-scrollbar-thumb {
  background-color: rgba(177, 177, 177, 0.5); /* رنگ thumb با opacity */
  border-radius: 5px;
}

.catbox::-webkit-scrollbar-thumb:hover {
  background-color: rgba(177, 177, 177, 0.7); /* رنگ thumb در حالت hover */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.properties {
  scrollbar-color: rgb(85, 37, 255) rgba(208, 213, 240, 0.24);
  scrollbar-width: thin;
}
.add_to_cart_button {
  bottom: env(safe-area-inset-bottom, 0);
  padding-bottom: env(safe-area-inset-bottom, 0);
  left: 0;
  right: 0;
}
.productSlider .slick-dots {
  bottom: 10px !important;
}
textarea {
  color: rgb(92, 92, 92);
  font-size: 14px !important;
}
input[type="text"] {
  color: rgb(92, 92, 92);
font-size: 14px !important;
}

/* ///////////loding upload image */
@-webkit-keyframes MOVE-BG {
	from {
		-webkit-transform: translateX(0);
	}
	to { 
		-webkit-transform: translateX(46px);
	}
}

@keyframes MOVE-BG {
	from {
		transform: translateX(0);
	}
	to { 
		transform: translateX(46px);
	}
}



.loading {
	/* height: auto; */
    text-align: center;
    color: #4c3f2e;	
    position: relative;
    overflow: hidden;
	/* padding: 1rem; */
	/* margin: 3%; */
	font-style: italic;
}
.upload_bg{
  position: absolute;
  left: -46px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  
background: -webkit-repeating-linear-gradient(
  145deg,
  #e5e7e7 1px,
  #f9ffff 2px,
  #f9ffff 11px,
  #e5e7e7 12px,
  #e5e7e7 20px
);
background: repeating-linear-gradient(
  -55deg,
  #e5e7e7 1px,
  #f9ffff 2px,
  #f9ffff 11px,
  #e5e7e7 12px,
  #e5e7e7 20px
);
  
  -webkit-animation-name: MOVE-BG;
-webkit-animation-duration: .6s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;

  animation-name: MOVE-BG;
animation-duration: .6s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

/* /////////////////////////////////////////////////// */
/* From Uiverse.io by JkHuger */
.loader-pulse {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffd900;
  animation: load-pulse 0.85s infinite linear;
}
.headermenucat-h {
  height: calc(-40px + 100vh);
}


.scrollbar-style {
  /* تعیین عرض اسکرول بار */
  scrollbar-width: 6px; /* برای مرورگرهای استاندارد */
  scrollbar-color: rgb(
    248,
    241,
    241
  ); /* برای مرورگرهای که از این خاصیت پشتیبانی می‌کنند */
  scrollbar-track-color: transparent;
  /* تعیین استایل اسکرول بار */
  /* برای مرورگرهای Chrome و Safari */
  &::-webkit-scrollbar {
    width: 6px; /* استفاده از متغیر CSS */
    scrollbar-track-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189); /* استفاده از متغیر CSS */
    scrollbar-track-color: transparent;
    border-radius: 10px;
  }

  /* برای مرورگرهای Firefox و مرورگرهایی که از این خاصیت پشتیبانی می‌کنند */
  scrollbar-width: 6px; /* استفاده از متغیر CSS */
  scrollbar-color: rgb(189, 189, 189); /* استفاده از متغیر CSS */
  scrollbar-track-color: transparent;
}